<%= form_with(model: customer, local: true) do |form| %>
<% if customer.errors.any? %>

<div id="error_explanation">
  <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

  <ul>
    <% customer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="form-label-group">
  <%= form.label :name %>
  <%= form.text_field :name, id: :customer_name, class: 'form-control' %>
</div>

<div class="form-label-group">
  <%= form.label :fone %>
  <%= form.text_field :fone, id: :customer_fone, class: 'form-control' %>
</div>

<div class="form-label-group">
  <%= form.label :description %>
  <%= form.text_area :description, id: :customer_description, class: 'form-control' %>
</div>
<br>

<div class="actions">
  <%= link_to 'Submit customer', form.submit, {:style=>'color:#FFFFFF;', class: 'btn btn-rounded btn-space btn-primary'} %> |
  <%= link_to 'Back', customers_path, class: "btn btn-default" %>
</div>
<% end %>
