<p id="notice"><%= notice %></p>

<p>
  <strong><%=t(:name)%>:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong><%=t(:phone)%>:</strong>
  <%= @customer.fone %>
</p>

<p>
  <strong><%=t(:description)%>:</strong>
  <%= @customer.description %>
</p>

<%= link_to t(:edit), edit_customer_path(@customer), class: "btn btn-default" %> |
<%= link_to t(:back), customers_path %>
